## Strings

Strings are are arrays of bytes representing unicode characters in Python. They can be written between '' single quotes or "" double quotes both represents the same.

In [0]:
ucalyptus = "Sayantan"
palspal = 'Soumyadyuti'

print(type(ucalyptus))
print(type(palspal))

<class 'str'>
<class 'str'>

In [0]:
# Copying string
palbabu = palspal
print(palbabu)

Soumyadyuti

### Multiline Strings
For better use of strings, python provides use of ''' ''' triple quotes made of using single quotes ' ' or double quotes three times in nested, to indicate multi-line strings.

In [0]:
a = '''
Dear Emily,
Send me off, send me with a kiss
I'm on my way now, I'm on my way now
So won't you send me off? (Send me off, send me off)
Love, I'm on my way now, I'm on my way now
'''
print(a)

Dear Emily,
Send me off, send me with a kiss
I'm on my way now, I'm on my way now
So won't you send me off? (Send me off, send me off)
Love, I'm on my way now, I'm on my way now

In [0]:
a = """
Dear Emily,
Send me off, send me with a kiss
I'm on my way now, I'm on my way now
So won't you send me off? (Send me off, send me off)
Love, I'm on my way now, I'm on my way now
"""
print(a)

Dear Emily,
Send me off, send me with a kiss
I'm on my way now, I'm on my way now
So won't you send me off? (Send me off, send me off)
Love, I'm on my way now, I'm on my way now

### **String as array**

In [0]:
a = "Hello, World!"
print(a[1])

e

### **Slicing**

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [0]:
print(palspal[2:5])

umy

### Negative Indexing
Use negative indexes to start the slice from the end of the string

In [0]:
print(ucalyptus[-5:-2])

ant

### String Length

To get the length of a string, use the len() function.

In [0]:
len(palspal)

11

### String Methods


- lstrip()	Returns a left trim version of the string
- rstrip()	Returns a right trim version of the string
- strip()	Returns a trimmed version of the string

In [0]:
a = " Long live the King! "
print("#"+a.strip()+"#") # returns "Hello, World!" 

print("#"+a.lstrip()+"#")
print("#"+a.rstrip()+"#")

#Long live the King!#
#Long live the King! #
# Long live the King!#

**lower()**	Converts a string into lower case

In [0]:
a = "There is nothing permanent except change. "
print(a.lower())

there is nothing permanent except change.

**upper()**	Converts a string into upper case

In [0]:
a = "There is nothing permanent except change. "
print(a.upper())

THERE IS NOTHING PERMANENT EXCEPT CHANGE.

**capitalize()**	Converts the first character to upper case

In [0]:
a = "There is nothing permanent except change. "
print(a.capitalize())

There is nothing permanent except change.

**title()**	Converts the first character of each word to upper case

In [0]:
a = "There is nothing permanent except change. "
print(a.title())

There Is Nothing Permanent Except Change.

**replace()**	Returns a string where a specified value is replaced with a specified value

In [0]:
a = "You cannot shake hands with a clenched fist."
print(a.replace("h", "j"))
print(a.replace("cannot", "can never"))

You cannot sjake jands witj a clencjed fist.
You can never shake hands with a clenched fist.

**count()**	Returns the number of times a specified value occurs in a string

In [0]:
a = "You cannot shake hands with a clenched fist."
print(a.count("a"))

4

**center()**	Returns a centered string

In [0]:
a = "When you reach the end of your rope, tie a knot in it and hang on."
print(a.center(200, " "))

                                                                   When you reach the end of your rope, tie a knot in it and hang on.

**ljust()**	Returns a left justified version of the string

In [0]:
a = "When you reach the end of your rope, tie a knot in it and hang on."
print(a.ljust(100, " "))

When you reach the end of your rope, tie a knot in it and hang on.


**rjust()**	Returns a right justified version of the string

In [0]:
a = "When you reach the end of your rope, tie a knot in it and hang on."
print(a.rjust(200, " "))

                                                                                                                                      When you reach the end of your rope, tie a knot in it and hang on.

- **find()**	Searches the string for a specified value and returns the position of where it was found
- **rfind()**	Searches the string for a specified value and returns the last position of where it was found

In [0]:
ast = "the supreme art of war is to subdue the enemy without fighting."
print(ast.find("the"))
print(ast.rfind("the"))

0
36

- **rsplit()**	Splits the string at the specified separator, and returns a list
- **split()**	Splits the string at the specified separator, and returns a list

In [0]:
a = "You cannot shake hands with a clenched fist."
print(a.split(" "))
print(a.split())
print(a.rsplit("a"))

['You', 'cannot', 'shake', 'hands', 'with', 'a', 'clenched', 'fist.']
['You', 'cannot', 'shake', 'hands', 'with', 'a', 'clenched', 'fist.']
['You c', 'nnot sh', 'ke h', 'nds with ', ' clenched fist.']

Checking the presence of string in a string

In [0]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [0]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

### Formatting a string
- format()	Formats specified values in a string
- format_map()	Formats specified values in a string

In [0]:
"Hello {}, there is about {} days left".format(ucalyptus, 12)

'Hello Sayantan, there is about 12 days left'

In [0]:
"Hello {0}, there is about {2} days left for {1}".format(ucalyptus,"innovacion",12)

'Hello Sayantan, there is about 12 days left for innovacion'

In [0]:
# making use of dictionaries
point = {'x':4,'y':-5}
print('{x} {y}'.format_map(point))

4 -5

In [0]:
name = palbabu
age = 21
"Hello, %s. You are %s." % (name, age)

'Hello, Soumyadyuti. You are 21.'

F strings can be used for formating which is a new feature in python 3

Simple fstring format

In [0]:
f"Hello, {name}. You are {age}."

'Hello, Soumyadyuti. You are 21.'

It is valid to use a capital F instead of small f.

In [0]:
F"Hello, {name}. You are {age}."

'Hello, Soumyadyuti. You are 21.'

In [0]:
# Comparison
import timeit
print(timeit.timeit("""name = "Eric"
age = 74
'%s is %s.' % (name, age)""", number = 10000))
print(timeit.timeit("""name = "Eric"
age = 74
'%s is %s.' .format(name, age)""", number = 10000))
print(timeit.timeit("""name = "Eric"
age = 74
f'{name} is {age}.'""", number = 10000))

0.0020652680013881763
0.003295353000794421
0.0037572689998341957

#### Someother functions
- **casefold()**	Converts string into lower case
- encode()	Returns an encoded version of the string
- endswith()	Returns true if the string ends with the specified value
- expandtabs()	Sets the tab size of the string

- index()	Searches the string for a specified value and returns the position of where it was found
- isalnum()	Returns True if all characters in the string are alphanumeric
- isalpha()	Returns True if all characters in the string are in the alphabet
- isdecimal()	Returns True if all characters in the string are decimals
- isdigit()	Returns True if all characters in the string are digits
- isidentifier()	Returns True if the string is an identifier
- islower()	Returns True if all characters in the string are lower case
- isnumeric()	Returns True if all characters in the string are numeric
- isprintable()	Returns True if all characters in the string are printable
- isspace()	Returns True if all characters in the string are whitespaces
- istitle() 	Returns True if the string follows the rules of a title
- isupper()	Returns True if all characters in the string are upper case
- join()	Joins the elements of an iterable to the end of the string
- maketrans()	Returns a translation table to be used in translations
- partition()	Returns a tuple where the string is parted into three parts
- rindex()	Searches the string for a specified value and returns the last position of where it was found
- rpartition()	Returns a tuple where the string is parted into three parts
- splitlines()	Splits the string at line breaks and returns a list
- startswith()	Returns true if the string starts with the specified value
- swapcase()	Swaps cases, lower case becomes upper case and vice versa
- translate()	Returns a translated string
upper()	Converts a string into upper case
- zfill()	Fills the string with a specified number of 0 values at the beginning

### Raw Strings
**r** expression is used to create a raw string. Python raw string treats backslash (\\) as a literal character.

In [0]:
# normal string vs raw string
path = "C:\desktop\nathan"  #string
print("string:",path)

string: C:\desktop
athan

In [0]:
path= r"C:\desktop\nathan"  #raw string
print("raw string:",path)

raw string: C:\desktop\nathan

## F Strings continued

[Link](https://realpython.com/python-f-strings/)

## Regex
Regex or regular expression is a powerful tool in any programming language use to check if a string contains the specified search pattern. It is a sequence of characters that forms a search pattern.

### Importing Regex Library
`import re`

In [0]:
import re

In [0]:
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt) 
print(x)

<_sre.SRE_Match object; span=(0, 17), match='The rain in Spain'>

In [0]:
# Taking a string
s = r"Permanence, perseverance and persistence in spite of all obstacles, discouragements, and impossibilities: It is this, that in all things distinguishes the strong soul from the weak."

Functions present in re package

1. re.match():

2. re.search()

3. re.findall()

4. re.split()

4. re.sub()


**1. re.match()**

The re.match function returns a match object on success and none on failure. It matches a word at the beginning of a string

The Match object has properties and methods used to retrieve information about the search, and the result:

.span() returns a tuple containing the start-, and end positions of the match.
.string returns the string passed into the function
.group() returns the part of the string where there was a match

In [0]:
result = re.match('Permanence',s) 
print(result)

result_2 = re.match('this',s) 
print(result_2)

<_sre.SRE_Match object; span=(0, 10), match='Permanence'>
None

Since output of the re.match is an object, we will use *group()* function of match object to get the matched expression.

In [0]:
print(result.group())  #returns the total matches

Permanence


**2. re.search()**

Matches the first occurence of a pattern in the entire string.

In [0]:
# search for the pattern "founded" in a given string
result = re.search('this',s)
print(result.group())

this


**3. re.findall()**

Returns all the occurrences of the pattern from the string. To use *re.findall()* is recommended always, it can work like both *re.search()* and *re.match()*.

In [0]:
result = re.findall('this',s)
print(result)

['this']

**4. re.split()**

Returns a list where the string has been split at each match.

`re.split(regexp, string, maxsplit(optional))`

In [0]:
result = re.split('\s',s)
print(result)

['Permanence,', 'perseverance', 'and', 'persistence', 'in', 'spite', 'of', 'all', 'obstacles,', 'discouragements,', 'and', 'impossibilities:', 'It', 'is', 'this,', 'that', 'in', 'all', 'things', 'distinguishes', 'the', 'strong', 'soul', 'from', 'the', 'weak.']

The number of occurrences by specifying the **maxsplit** parameter can be controlled.

In [0]:
# Split the string only at the first two occurrences
result = re.split('\s',s, 2)
print(result)

['Permanence,', 'perseverance', 'and persistence in spite of all obstacles, discouragements, and impossibilities: It is this, that in all things distinguishes the strong soul from the weak.']


**5. re.sub()**

Replaces the matches with the text of choice.

`re.sub(regexp, replacement, string, count(optional))`

In [0]:
x = re.sub("\s", "9", s)
print(x)

Permanence,9perseverance9and9persistence9in9spite9of9all9obstacles,9discouragements,9and9impossibilities:9It9is9this,9that9in9all9things9distinguishes9the9strong9soul9from9the9weak.

The number of occurrences by specifying the **count** parameter can be controlled.

In [0]:
x = re.sub("\s", "9", s, 2)
print(x)

Permanence,9perseverance9and persistence in spite of all obstacles, discouragements, and impossibilities: It is this, that in all things distinguishes the strong soul from the weak.

### Special sequences



| Character | Description                                                                    | Example |
|-----------|--------------------------------------------------------------------------------|---------|
| \A        | Returns a match if the specified characters are at the beginning of the string | "\AThe" |
|\b | Returns a match where the specified characters are at the beginning or at the end of a word 	|r"\bain", r"ain\b" |	
|\B |	Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word |	r"\Bain", r"ain\B" | 	
|\d |	Returns a match where the string contains digits (numbers from 0-9) |	"\d"| 	
|\D |	Returns a match where the string DOES NOT contain digits |	"\D" 	|
|\s |	Returns a match where the string contains a white space character |	"\s" 	
|\S |	Returns a match where the string DOES NOT contain a white space character |	"\S" | 	
|\w |	Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character) |	"\w" |	
|\W |	Returns a match where the string DOES NOT contain any word characters |	"\W"| 	
|\Z |	Returns a match if the specified characters are at the end of the string |	"Spain\Z"|

1. **\A**	returns a match if the specified pattern is at the beginning of the string.

In [0]:
str = r'Happiness can exist only in acceptance.'

x = re.findall("\AHappiness", str)

print(x)

['Happiness']

This is useful in cases where you have multiple strings of text, and you have to extract the first word only, given that first word is 'Happiness'.

If you would try to find some other word, then it will return an empty list as shown below.

In [0]:
str = r'Happiness can exist only in acceptance.'

x = re.findall("\AHappines", str)

print(x)

['Happines']

2. **\b** returns a match where the specified pattern is at the beginning or at the end of a word.

In [0]:
#Check if there is any word that ends with "est"
x = re.findall(r"ist\b", str)
print(x)

['ist']

It returns the last three characters of the word "largest".

3. **\B**	returns a match where the specified pattern is present, but NOT at the beginning (or at the end) of a word.

In [0]:
str = r'Happiness can exist only in acceptance.'

x = re.findall(r"\Bcce", str)

print(x)

['cce']

4. **\d** returns a match where the string contains digits (numbers from 0-9)

In [0]:
str = "2 million monthly visits in Jan'19."

#Check if the string contains any digits (numbers from 0-9):
x = re.findall("\d", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['2', '1', '9']
Yes, there is at least one match!

In [0]:
str = "2 million monthly visits in Jan'19."

# Check if the string contains any digits (numbers from 0-9):
# adding '+' after '\d' will continue to extract digits till encounters a space
x = re.findall("\d+", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['2', '19']
Yes, there is at least one match!

We can infer that **\d+** repeats one or more occurences of **\d** till the non maching character is found where as **\d** does character wise comparison.

5. **\D** returns a match where the string does not contain any digit.

In [0]:
str = "2 million monthly visits in Jan'19."

#Check if the word character does not contain any digits (numbers from 0-9):
x = re.findall("\D", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', 'm', 'i', 'l', 'l', 'i', 'o', 'n', ' ', 'm', 'o', 'n', 't', 'h', 'l', 'y', ' ', 'v', 'i', 's', 'i', 't', 's', ' ', 'i', 'n', ' ', 'J', 'a', 'n', "'", '.']
Yes, there is at least one match!

In [0]:
str = "2 million monthly visits'19"

#Check if the word does not contain any digits (numbers from 0-9):

x = re.findall("\D+", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

[" million monthly visits'"]
Yes, there is at least one match!

6. **\w** helps in extraction of alphanumeric characters only (characters from a to Z, digits from 0-9, and the underscore _ character)

In [0]:
str = "2 million monthly visits!"

#returns a match at every word character (characters from a to Z, digits from 0-9, and the underscore _ character)

x = re.findall("\w",str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['2', 'm', 'i', 'l', 'l', 'i', 'o', 'n', 'm', 'o', 'n', 't', 'h', 'l', 'y', 'v', 'i', 's', 'i', 't', 's']
Yes, there is at least one match!

In [0]:
str = "2 million monthly visits!"

#returns a match at every word (characters from a to Z, digits from 0-9, and the underscore _ character)

x = re.findall("\w+",str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['2', 'million', 'monthly', 'visits']
Yes, there is at least one match!

7. **\W** returns match at every non alphanumeric character.

In [0]:
str = "2 million monthly visits9!"

#returns a match at every NON word character (characters NOT between a and Z. Like "!", "?" white-space etc.):

x = re.findall("\W", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ', '!']
Yes, there is at least one match!

## Metacharacters

Metacharacters are characters with a special meaning

1. **(.)** matches any character (except newline character)

#### Metacharacters


Metacharacters are characters with a special meaning

|Character|Description|Example|
|-----|----------|-----|
|\[ \] |A set of characters |"[a-m]"| 
|\ |Signals a special sequence (can also be used to escape special characters) |"\d" |
|. |Any character (except newline character) |"he..o" |
|^ |Starts with |"^hello" |
|\$ |Ends with |"world$" |
|\* |Zero or more occurrences |"aix*" |
|\+ |One or more occurrences |"aix+" |
|{} |Exactly the specified number of occurrences |"al{2}" |
|\| |Either or |"falls\|stays" |

1. **(.)** matches any character (except newline character)

In [0]:
st = "There is only one corner of the universe you can be certain of improving, and that's your own self."
x = re.findall("on.", st)
x2 = re.findall("on..", st)

print(x)
print(x2)

['onl', 'one']
['only', 'one ']

2. **(^)** starts with

In [0]:
str = "Data Science"

#Check if the string starts with 'Data':
x = re.findall("^Data", str)

if (x):
  print("Yes, the string starts with 'Data'")
else:
  print("No match")
  
#print(x)

Yes, the string starts with 'Data'

In [0]:
# try with a different string
str2 = "Big Data"

#Check if the string starts with 'Data':
x2 = re.findall("^Data", str2)

if (x2):
  print("Yes, the string starts with 'data'")
else:
  print("No match")
  
#print(x2)

No match

3. **($)** ends with

In [0]:
str = "Data Science"

#Check if the string ends with 'Science':

x = re.findall("Science$", str)

if (x):
  print("Yes, the string ends with 'Science'")

else:
  print("No match")
  
#print(x)

Yes, the string ends with 'Science'

4. (*) matches for zero or more occurences of the pattern to the left of it

In [0]:
str = "easy easssy eay ey"

#Check if the string contains "ea" followed by 0 or more "s" characters and ending with y
x = re.findall("eas*y", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['easy', 'easssy', 'eay']
Yes, there is at least one match!

5. **(+)** matches one or more occurences of the pattern to the left of it

In [0]:
#Check if the string contains "ea" followed by 1 or more "s" characters and ends with y 
x = re.findall("eas+y", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['easy', 'easssy']
Yes, there is at least one match!

6. **(?)** matches zero or one occurrence of the pattern left to it.

In [0]:
x = re.findall("eas?y",str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['easy', 'eay']
Yes, there is at least one match!

7. **(|)** either or

In [0]:
str = "There is only one corner of the universe you can be certain of improving, and that's your own self."

#Check if the string contains either "data" or "India":

x = re.findall("one|universe", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['one', 'universe']
Yes, there is at least one match!

In [0]:
# try with a different string
str = "There is only one corner of the universe you can be certain of improving, and that's your own self."

#Check if the string contains either "data" or "India":

x = re.findall("one|universe", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['one', 'universe']
Yes, there is at least one match!

#### Sets


Set |Description
-----|-----
[arn] |Returns a match where one of the specified characters (a, r, or n) are present 
[a-n] |Returns a match for any lower case character, alphabetically between a and n 
[^arn] |Returns a match for any character EXCEPT a, r, and n 
[0123] |Returns a match where any of the specified digits (0, 1, 2, or 3) are present 
[0-9] |Returns a match for any digit between 0 and 9 
[0-5][0-9] |Returns a match for any two-digit numbers from 00 and 59 
[a-zA-Z] |Returns a match for any character alphabetically between a and z, lower case OR upper case 
[+] |In sets, +, *, ., \|, (), $,{} has no special meaning, so \[+] means: return a match for any + character in the string

1. A set is a bunch of characters inside a pair of square brackets [ ] with a special meaning.

In [0]:
str = "I have not failed. I've just found 10,000 ways that won't work. "

#Check for the characters y, d, or h, in the above string
x = re.findall("[wk0]", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['0', '0', '0', '0', 'w', 'w', 'w', 'k']
Yes, there is at least one match!

In [0]:
str = "I have not failed. I've just found 10,000 ways that won't work. "

#Check for the characters between a and g, in the above string
x = re.findall("[a-g]", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['a', 'e', 'f', 'a', 'e', 'd', 'e', 'f', 'd', 'a', 'a']
Yes, there is at least one match!

<br>

Let's solve a problem.

In [0]:
str = "I have not failed. I've just found 10,000 ways that won't work. "

# extract the numbers starting with 0 to 4 from in the above string
x = re.findall(r"\b[0-4]\d+", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['10', '000']
Yes, there is at least one match!

2. **[^]** Check whether string has other characters mentioned after ^

In [0]:
str = "I have not failed. I've just found 10,000 ways that won't work. "

#Check if every word character has characters than y, d, or h

x = re.findall("[^udh]", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['I', ' ', 'a', 'v', 'e', ' ', 'n', 'o', 't', ' ', 'f', 'a', 'i', 'l', 'e', '.', ' ', 'I', "'", 'v', 'e', ' ', 'j', 's', 't', ' ', 'f', 'o', 'n', ' ', '1', '0', ',', '0', '0', '0', ' ', 'w', 'a', 'y', 's', ' ', 't', 'a', 't', ' ', 'w', 'o', 'n', "'", 't', ' ', 'w', 'o', 'r', 'k', '.', ' ']
Yes, there is at least one match!

3. **[a-zA-Z0-9]** : Check whether string has alphanumeric characters

In [0]:
str = "@AI have not failed. I've just found 10,000 ways that won't work.  #AV!!"

# extract words that start with a special character
x = re.findall("[^a-zA-Z0-9 ]\w+", str)

print(x)

['@AI', "'ve", ',000', "'t", '#AV']

---
## Solve Complex Queries

Let us try solving some complex queries using regex.

### Extracting Email IDs

In [0]:
str = 'Send a mail to rohan.1997@gmail.com, smith_david34@yahoo.com and priya@yahoo.com about the meeting @2PM'
  
# \w matches any alpha numeric character 
# + for repeats a character one or more times 
#x = re.findall('\w+@\w+\.com', str)     
x = re.findall('[a-zA-Z0-9._-]+@\w+\.com', str)     
  
# Printing of List 
print(x)

['rohan.1997@gmail.com', 'smith_david34@yahoo.com', 'priya@yahoo.com']

### Extracting Dates

In [0]:
text = "London Olympic 2012 was held from 2012-07-27 to 2012/08/12."

# '\d{4}' repeats '\d' 4 times
match = re.findall('\d{4}.\d{2}.\d{2}', text)
print(match)

['2012-07-27', '2012/08/12']

In [0]:
text="London Olympic 2012 was held from 27 Jul 2012 to 12-Aug-2012."

match = re.findall('\d{2}.\w{3}.\d{4}', text)

print(match)

['27 Jul 2012', '12-Aug-2012']

In [0]:
# extract dates with varying lengths
text="London Olympic 2012 was held from 27 July 2012 to 12 August 2012."

#'\w{3,10}' repeats '\w' 3 to 10 times
match = re.findall('\d{2}.\w{3,10}.\d{4}', text)

print(match)

['27 July 2012', '12 August 2012']